In [1]:
import numpy as np


array_1d = np.arange(10)

array_2d = array_1d.reshape(2, 5)

array_2d[0] = -array_2d[0]

print(array_2d)

[[ 0 -1 -2 -3 -4]
 [ 5  6  7  8  9]]

In [3]:
import numpy as np

array = np.random.randint(1, 101, size=(5, 5))

min_value = array.min()
max_value = array.max()
average_value = array.mean()

row_sums = array.sum(axis=1)
column_sums = array.sum(axis=0)

print("Array:\n", array)
print("\nMin Value:", min_value)
print("Max Value:", max_value)
print("Avg Value:", average_value)
print("\nSum of all the values in each row:", row_sums)
print("Sum of all the values in each column:", column_sums)

Array:
 [[20 38 19 72 80]
 [29 71 83 71 98]
 [50 90 64 13  2]
 [88 24 21  2 29]
 [ 8 21 88 20 78]]

Min Value: 2
Max Value: 98
Avg Value: 47.16

Sum of all the values in each row: [229 352 219 164 215]
Sum of all the values in each column: [195 244 275 178 287]

In [8]:
import numpy as np

matrix_a = np.random.randint(1, 10, size=(3, 3))
matrix_b = np.random.randint(1, 10, size=(3, 3))

addition = matrix_a + matrix_b
subtraction = matrix_a - matrix_b
multiplication = matrix_a * matrix_b
division = matrix_a / matrix_b
dot_product = np.dot(matrix_a, matrix_b)

print("Matrix A:\n", matrix_a)
print("Matrix B:\n", matrix_b)
print("Addition:\n", addition)
print("Subtraction:\n", subtraction)
print("Multiplication:\n", multiplication)
print("Division:\n", division)
print("Dot Product:\n", dot_product)

Matrix A:
 [[7 7 1]
 [6 6 4]
 [9 3 8]]
Matrix B:
 [[8 1 1]
 [7 9 9]
 [4 9 2]]
Addition:
 [[15  8  2]
 [13 15 13]
 [13 12 10]]
Subtraction:
 [[-1  6  0]
 [-1 -3 -5]
 [ 5 -6  6]]
Multiplication:
 [[56  7  1]
 [42 54 36]
 [36 27 16]]
Division:
 [[0.875      7.         1.        ]
 [0.85714286 0.66666667 0.44444444]
 [2.25       0.33333333 4.        ]]
Dot Product:
 [[109  79  72]
 [106  96  68]
 [125 108  52]]

In [13]:
import numpy as np

array = np.random.rand(4, 4)
second_row = array[1, :]
third_column = array[:, 2]
sub_array = array[1:4, 0:3]

print("Array:\n", array)
print("Second Row:\n", second_row)
print("Third Column:\n", third_column)
print("Sub-array:\n", sub_array)

Array:
 [[0.59896794 0.53247323 0.24030416 0.21735373]
 [0.76452016 0.51342212 0.54094464 0.46418546]
 [0.16837085 0.84710511 0.44330722 0.15251724]
 [0.00963032 0.01227851 0.36598062 0.7277722 ]]
Second Row:
 [0.76452016 0.51342212 0.54094464 0.46418546]
Third Column:
 [0.24030416 0.54094464 0.44330722 0.36598062]
Sub-array:
 [[0.76452016 0.51342212 0.54094464]
 [0.16837085 0.84710511 0.44330722]
 [0.00963032 0.01227851 0.36598062]]

In [15]:
import numpy as np


array = np.arange(1, 21)

array[array % 2 == 0] = array[array % 2 == 0] ** 2

mask = array > 50

filtered_elements = array[mask]

print("Modified Array:\n", array)
print("Elements that are greater than 50:\n", filtered_elements)

Modified Array:
 [  1   4   3  16   5  36   7  64   9 100  11 144  13 196  15 256  17 324
  19 400]
Elements that are greater than 50:
 [ 64 100 144 196 256 324 400]

In [18]:
import pandas as pd
data = {
    "Name": ["Sohaib", "Bushra", "Huzaifa", "Rahayma", "Bareera"],
    "Age": [21, 20, 25, 24, 22],
    "Gender": ["Male", "Female", "Male", "Female", "Female"],
    "Score": [85, 90, 78, 92, 88]
}

df = pd.DataFrame(data)

print("First Few Rows:\n", df.head())

print("\nData Types:\n", df.dtypes)

print("\nStatistical Summary:\n", df.describe())

First Few Rows:
       Name  Age  Gender  Score
0   Sohaib   21    Male     85
1   Bushra   20  Female     90
2  Huzaifa   25    Male     78
3  Rahayma   24  Female     92
4  Bareera   22  Female     88

Data Types:
 Name      object
Age        int64
Gender    object
Score      int64
dtype: object

Statistical Summary:
              Age      Score
count   5.000000   5.000000
mean   22.400000  86.600000
std     2.073644   5.458938
min    20.000000  78.000000
25%    21.000000  85.000000
50%    22.000000  88.000000
75%    24.000000  90.000000
max    25.000000  92.000000

In [20]:
import pandas as pd
import numpy as np

data = {
    "ID": range(1, 11),
    "Age": [25, 25, 40, 48, 35, 60, 19, 17, 25, 27],
    "Income": [55000, 60000, 72000, 48000, 53000, 50000, 62000, 75000, 54000, 58000],
    "Score": [80, 85, np.nan, 90, 75, np.nan, 88, 95, 77, 82]
}

df = pd.DataFrame(data)

# Sort data based on 'Income' in descending order
df_sorted = df.sort_values(by="Income", ascending=False)

# Replace missing values in 'Score' with the average score of the column
df_sorted['Score'].fillna(df_sorted['Score'].mean(), inplace=True)

print("Sorted DataFrame:\n", df_sorted)

Sorted DataFrame:
    ID  Age  Income  Score
7   8   17   75000   95.0
2   3   40   72000   84.0
6   7   19   62000   88.0
1   2   25   60000   85.0
9  10   27   58000   82.0
0   1   25   55000   80.0
8   9   25   54000   77.0
4   5   35   53000   75.0
5   6   60   50000   84.0
3   4   48   48000   90.0

<ipython-input-20-0feb7d3c10dc>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sorted['Score'].fillna(df_sorted['Score'].mean(), inplace=True)

In [21]:
import pandas as pd
import numpy as np

data = {
    "ID": range(1, 11),
    "Age": [25, 25, 40, 48, 35, 60, 19, 17, 25, 27],
    "Income": [55000, 60000, 72000, 48000, 53000, 50000, 62000, 75000, 54000, 58000],
    "Score": [80, 85, np.nan, 90, 75, np.nan, 88, 95, 77, 82]
}

df = pd.DataFrame(data)

df_sorted = df.sort_values(by="Income", ascending=False)

df_sorted['Score'].fillna(df_sorted['Score'].mean(), inplace=True)

print("Sorted DataFrame:\n", df_sorted)

filtered_df = df_sorted[(df_sorted['Income'] > 50000) & (df_sorted['Age'] < 30)]

result = filtered_df[['ID', 'Score']]

print("Filtered DataFrame:\n", result)

Sorted DataFrame:
    ID  Age  Income  Score
7   8   17   75000   95.0
2   3   40   72000   84.0
6   7   19   62000   88.0
1   2   25   60000   85.0
9  10   27   58000   82.0
0   1   25   55000   80.0
8   9   25   54000   77.0
4   5   35   53000   75.0
5   6   60   50000   84.0
3   4   48   48000   90.0
Filtered DataFrame:
    ID  Score
7   8   95.0
6   7   88.0
1   2   85.0
9  10   82.0
0   1   80.0
8   9   77.0

<ipython-input-21-59390d78f8bc>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sorted['Score'].fillna(df_sorted['Score'].mean(), inplace=True)

In [23]:
import pandas as pd

data = {
    "Department": ["HR", "IT", "IT", "Finance", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    "Employee": ["Sohaib", "Ali", "Babar", "Daniyal", "Esha", "Faraz", "Ghouri", "Hamnah", "Ibtisam", "Jimmy"],
    "Salary": [50000, 80000, 75000, 90000, 55000, 95000, 70000, 52000, 98000, 71000],
    "Experience": [3, 5, 4, 7, 2, 6, 4, 1, 8, 3]
}

df = pd.DataFrame(data)

salary_stats = df.groupby('Department')['Salary'].agg(['mean', 'max'])

print("Mean and Maximum Salary by Department:\n", salary_stats)

Mean and Maximum Salary by Department:
                     mean    max
Department
Finance     94333.333333  98000
HR          52333.333333  55000
IT          74000.000000  80000

In [24]:
import pandas as pd
data1 = {
    "Employee": ["Bushra", "Ali", "Babar", "Daniyal", "Esha"],
    "Department": ["HR", "IT", "IT", "Finance", "HR"],
    "Salary": [50000, 80000, 75000, 90000, 55000]
}

df1 = pd.DataFrame(data1)

data2 = {
    "Employee": ["muneeb", "Al", "Babar", "Danny", "Eshaam"],
    "Project": ["Project A", "Project B", "Project A", "Project C", "Project B"]
}

df2 = pd.DataFrame(data2)


merged_df = pd.merge(df1, df2, on='Employee')


total_salary_per_project = merged_df.groupby('Project')['Salary'].sum()

print("Total Salary for Each Project:\n", total_salary_per_project)

Total Salary for Each Project:
 Project
Project A    75000
Name: Salary, dtype: int64